# macOS
.DS_Store
**/.DS_Store

# Xcode user data
*.xcuserstate
xcuserdata/
*.xcscmblueprint
IDEFindNavigatorScopes.plist

# Firebase secrets
GoogleService-Info.plist
**/serviceAccount.json

# Dependencies
node_modules/

# Build artifacts
build/

# SPM cache
.swiftpm/

# Personal notes
values.txt
